@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pixelify+Sans:wght@400..700&family=Stalinist+One&display=swap');

@theme {
  --font-pacifico: "Pacifico", cursive;
}

/* SPEED LINES */
.speed-lines span {
  position: absolute;
  width: 150px;
  height: 2px;
  background: rgba(255,255,255,0.8);
  left: -200px;
  animation: speedMove 1.4s linear infinite;
}

.speed-lines span:nth-child(1) { top: 20%; animation-delay: 0s; }
.speed-lines span:nth-child(2) { top: 40%; animation-delay: 0.2s; }
.speed-lines span:nth-child(3) { top: 60%; animation-delay: 0.4s; }
.speed-lines span:nth-child(4) { top: 75%; animation-delay: 0.6s; }
.speed-lines span:nth-child(5) { top: 90%; animation-delay: 0.8s; }

@keyframes speedMove {
  0% {
    left: -200px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    left: 110%;
    opacity: 0;
  }
}


/* TEXT ANIMATION */
.sector-text {
  animation: textZoom 1.3s ease-out forwards;
}

@keyframes textZoom {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(40px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}
